<% unless queries.empty? -%>
<h3><%= t('saved_queries', :scope => 'somatics_filter') %></h3>
<% queries.each do |query| -%>
<%= link_to_function query.name, "apply_saved_query(#{query.id});"  %>
<%= link_to_function image_tag('somatics/delete.png'), "delete_saved_query(#{query.id});" %>
<br />
<% end -%>
<% end -%>

<%= javascript_tag do %><%=raw(
<<-JAVASCRIPT
  function apply_saved_query(query_id) {
    new Ajax.Request(window.location.pathname, {
      method: 'get',
      parameters: {'somatics_filter_query': query_id},
      onComplete: function(r) {
        $('content').update(r.responseText);
      }
    });
    return false;
  }
  
  function delete_saved_query(query_id) {
    if(confirm('Are you sure?')) {
      new Ajax.Request(window.location.pathname, {
        method: 'get',
        parameters: {'somatics_filter_query': query_id, '_delete': true},
        onComplete: function(r) {
        }
      });      
    }
    return false;
  }
JAVASCRIPT
) %><% end %>